

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.938cm;
}

.column {
    margin-left: -0.938cm;
    margin-right: -0.938cm;
}

.column .row {
    padding: 0.938cm;
}

.flexwrapp {
    display: flex;
    flex-wrap: wrap;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1cm;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-links a:hover {
    color: var(--secondary-color);
}

.secondary-links a:hover {
    color: var(--light-text-color);
}

.icon-small, .icon-larger {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin: auto;
}

.icon-larger {
    font-size: 1.75em;
    padding: 0 0.25em 0 0.5em;
}

header li > a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}

.header-top .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.header-top .wrapper ul {
    gap: 2em;
}

.header-top li {
    position: relative;
}

.header-top ul ul {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
}

.header-top .right ul ul li a {
    padding: 0.25em 1em;
}

.header-top .right ul ul li.current {
    background: var(--border-color);
}

.header-top li:hover ul {
    display: block;
}
